modules = ["python-3.12"]
run = "npm run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39401399
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run dashboard.py --server.port 5000 --server.address 0.0.0.0"
